<div id="article">

  <div class="post">
  <h1>
    <%=h @post.title %>
    <span class="meta">
      <%= human_date @post.published_on %> 
      <a href="#comments"><%= @post.comments.size %>&nbsp;comments</a>&nbsp;<a href="http://<%= hostname %>/<%= @post.id %>/feed" class="image"><img src="/images/rss.icon.12x12.png" width="12" height="12" alt="Comments for article feed" title="Comments for article feed" /></a>
    </span>
  </h1>

  <div class="perex">
    <%= @post.perex %>
  </div><!-- /perex -->
  
  <div class="body">

    <%= @post.body_html %>

    <div class="nav">
      <!-- <p class="home"><a href="/">&larr; Home</a></p> -->
      <!-- <p class="next"><a href="#">Next &rarr;</a></p> -->
    </div>
    <!-- /nav -->

  </div><!-- /body -->
  
  <div id="comments">

    <% if params[:spam_deleted] && authorized? %>
    <div id="spam_deleted"><div class="in"><p>OK, <%= params[:spam_deleted] %> spam comments deleted.</p></div></div>
    <% end %>

    <% if authorized? %>
    <form action="/admin/<%= @post.id %>/spam" method="post">
    <input type="hidden" name="_method" value="delete">
    <% end %>
    <% @post.comments.each_with_index do |comment, index| %>
    <% if params[:thank_you] && comment == @post.comments.last && comment.ham? %>
    <div id="comment_added_thanks"><div class="in"><p>Thank you for your comment!</p></div></div>
    <% end %>
    <div class="comment<%= ' spam' if comment.spam? %>" id="comment_<%= comment.id %>">
      <% if authorized? %>
      <div class="comment_controls">
      <input type="checkbox" name="spam_comment_ids[]" value="<%= comment.id %>" id="spam_comment_id_<%= comment.id %>"<%= ' checked="checked"' if comment.spam? %> />
      <label for="spam_comment_id_<%= comment.id %>">Spam?</label>
      </div><!-- /comment_controls -->
      <% end %>
      <div class="number"><span class="nodisplay"># </span><%= index.succ %></div>
      <div class="author">
        <strong>
        <%= comment.url ? "<a href=\"#{h(comment.url)}\">#{h(comment.author)}</a>" : h(comment.author) %>
        </strong> wrote on <%= human_date(comment.created_at) %>:</div>
      <div class="message">
        <%= markup( h(comment.body) ) %>
      </div>
    </div><!-- /comment -->

    <% end %>

    <% if authorized? %>
    <div id="admin_panel"><div id="admin_panel_content">
      <p>MARLEY ADMIN PANEL</p>
      <p><input type="submit" value="Delete marked comments as spam. Careful."></p>
      </form>
    </div></div><!-- /admin_panel -->
    <% end %>

    <div id="comment_form">
    <div class="container">

      <h3><span>Join the discussion</span><div>&nbsp;</div></h3>

      <form action="/<%= @post.id %>/comments#add_comment" method="post" accept-charset="utf-8">

        <label class="required">Your name:</label>
        <input type="text" class="text" name="author" value="" id="author" />
        <span>(required)</span>
        <% if  @comment and @comment.errors %><span class="error">Author <%= @comment.errors.on(:author).first %></span><% end %>
        <br />
        <label class="required">Your e-mail:</label>
        <input type="text" class="text" name="email" value="" id="email" />
        <span>(required, won't be displayed)</span>
        <% if  @comment and @comment.errors %><span class="error">E-Mail <%= @comment.errors.on(:email).first %></span><% end %>
        <br />

        <label>Your website:</label>
        <input type="text" class="text" name="url" value="" id="url" />
        <br />

        <label>Message:</label>
        <textarea name="body" rows="8" cols="40"></textarea>
        <% if  @comment and @comment.errors %><span class="error">Message <%= @comment.errors.on(:body).first if @comment %></span><% end %>
        <span style="margin-left: 14em">(Use <em>Markdown</em> syntax)</span>
        <br />

        <input class="submit" type="submit" value="Send message &rarr;" accesskey="s" />
      </form>
    </div><!-- /container -->
    </div><!-- /comment_form -->

  </div><!-- /comments -->

</div><!-- /post -->
</div><!-- /article -->