
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="author" content="Design: Karel Minařík | www.karmi.cz" />
	<meta http-equiv="imagetoolbar" content="no" />

	<title><%= h(@page_title) %></title>

  <!-- *Syndicate* -->
  <link href="http://<%= hostname %>/feed" rel="alternate" title="Feed for <%= h(CONFIG['blog']['title']) %>" type="application/atom+xml" />
  <link href="http://<%= hostname %>/feed/comments" rel="alternate" title="Comments for <%= h(CONFIG['blog']['title']) %>" type="application/atom+xml" />
  <% if @post %>
  <link href="http://<%= hostname %>/<%= @post.id %>/feed" rel="alternate" title="Feed for comments on article &ldquo;<%= h(@post.title) %>&rdquo; <%= h(CONFIG['blog']['name']) %>" type="application/atom+xml" />
  <% end %>

  <!-- *CSS* -->
   <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" />
   <link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print" />
   <link rel="stylesheet" href="/stylesheets/handheld.css" type="text/css" media="handheld" />
   <link rel="stylesheet" href="/stylesheets/safari.css" type="text/css" media="screen and min-device-pixel-ratio: 0" />
   <!--[if IE 6]><link rel="stylesheet" href="/stylesheets/msie6.css" type="text/css" media="screen, projection" /><![endif]-->
   <!--[if IE 7]><link rel="stylesheet" href="/stylesheets/msie7.css" type="text/css" media="screen, projection" /><![endif]-->

   <!-- *JS* -->
   <script src="/javascripts/prototype.js" type="text/javascript" charset="utf-8"></script>
   <script src="/javascripts/effects.js" type="text/javascript" charset="utf-8"></script>
   <script src="/javascripts/code_highlighter/code_highlighter.js" type="text/javascript"></script>
   <script src="/javascripts/code_highlighter/ruby.js" type="text/javascript"></script>
   <script src="/javascripts/application.js" type="text/javascript" charset="utf-8"></script>
	
</head>

<body id="body">
  
<div class="container">

<div id="header">
  <h1 class="image_replace"><a href="/"><span></span>RESTAFARI</a></h1>
  <blockquote cite="http://books.google.com/books?id=TE0nC-MfRz4C">
    <p>Everything that can be said can be said clearly. <a href="http://books.google.com/books?id=TE0nC-MfRz4C">&mdash; Tractatus, 4.11</a></p>
  </blockquote>
</div><!-- /header -->

  <hr />

<div id="right">
<div id="about">
  <h2 class="image_replace"><a href="#"><span></span>About</a></h2>
  <div class="content">
  <div class="in">
  <p><strong>Restafari</strong> is powered by the <a href="http://github.com/bmizerany/sinatra/" title="bmizerany's sinatra at master &mdash; GitHub">Sinatra framework</a>.</p>
  <p>Source code is <a href="http://github.com/karmi/marley" title="karmi's marley at master &mdash; GitHub">available at Github</a>.</p>
  <p>Restafari is designed, programmed and written by <a href="http://www.karmi.cz/">Karel Minařík</a> a.k.a. <a href="http://www.karmi.cz/"><em>karmi</em></a>.</p>
  <p class="credit">More info at <a href="http://www.karmi.cz">www.karmi.cz</a></p>
  <p class="floral"><img src="/images/floral.karmi.png" width="48" height="21" alt="" /></p>
  </div><!-- /in -->
  </div><!-- /content -->
</div><!-- /about -->

</div><!-- /right -->

  <hr />

<div id="left">

  <%= yield %>

</div><!-- /left -->

  <hr />

  <div id="footer">
  <% if revision %>
  <%# TODO : DEFINITELY refactor the substring mess! :) %>
  <%# TODO : Show diff from Github with Ajax %>
  <p>Running on revision #<a href="<%= revision['url'] %>"><%= revision['id'][0...7] %></a> <small> : <%= revision['message'] %></small></p>
  <% end %>
  </div>
  <!-- /footer -->

</div><!-- /container -->

<% if CONFIG['ga_code'] && Sinatra.env == :production %>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("<%= CONFIG['ga_code'] %>");
pageTracker._trackPageview();
</script>
<% end %>

</body>
</html>
