<div id="article">

  <div class="post">
  <h1>
    <%=h @post.title %>
    <span class="meta"><%= human_date @post.published_on %> <a href="#comments"><%= @post.comments.size %>&nbsp;comments</a></span>
  </h1>
  
  <div class="body">

    <%= @post.body_html %>

    <!-- <div class="nav">
      <p class="home"><a href="#">&larr; Home</a></p>
      <p class="next"><a href="#">Next &rarr;</a></p>
    </div> -->
    <!-- /nav -->

  </div><!-- /body -->
  
  <div id="comments">
    
    <% @post.comments.each_with_index do |comment, index| %>
    <% if params[:thank_you] && comment == @post.comments.last %>
    <div id="comment_added_thanks"><div class="in"><p>Thank you for your comment!</p></div></div>
    <% end %>
    <div class="comment" id="comment_<%= comment.id %>">
      <p>Spam? <%= comment.spam? %></p>
      <div class="number"><span class="nodisplay"># </span><%= index.succ %></div>
      <div class="author"><strong><a href="#"><%=h comment.author %></a></strong> wrote on <%= human_date(comment.created_at) %>:</div>
      <div class="message">
        <%=h comment.body %>
      </div>
    </div><!-- /comment -->

    <% end %>

    <div id="comment_form">
    <div class="container">

      <h3><span>Join the discussion</span><div>&nbsp;</div></h3>

      <form action="/<%= @post.id %>/comments#add_comment" method="post" accept-charset="utf-8">

        <label class="required">Your name:</label>
        <input type="text" class="text" name="author" value="" id="author" />
        <span>(required)</span>
        <% if  @comment and @comment.errors %><span class="error">Author <%= @comment.errors.on(:author).first %></span><% end %>
        <br />
        <label class="required">Your e-mail:</label>
        <input type="text" class="text" name="email" value="" id="email" />
        <span>(required, won't be displayed)</span>
        <% if  @comment and @comment.errors %><span class="error">E-Mail <%= @comment.errors.on(:email).first %></span><% end %>
        <br />

        <label>Your website:</label>
        <input type="text" class="text" name="url" value="" id="url" />
        <br />

        <label>Message:</label>
        <textarea name="body" rows="8" cols="40"></textarea>
        <% if  @comment and @comment.errors %><span class="error">Message <%= @comment.errors.on(:body).first if @comment %></span><% end %>
        <br />

        <input class="submit" type="submit" value="Send message &rarr;" accesskey="s" />
      </form>
    </div><!-- /container -->
    </div><!-- /comment_form -->

  </div><!-- /comments -->

</div><!-- /article -->

<pre><%= request.env.inspect  %></pre>